* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.lilzfleur {
    color: rgb(200, 126, 188);
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    background-color: rgb(234, 188, 226, 0.5);
}

footer {
    background-color: rgb(200, 126, 188);
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.entete {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    padding: 5em;
}

.entete-index {
    font-size: 1em;
    color: black;
    margin: auto;
    text-align: center;
}

img {
    width: 100%;
    border-radius: 10px;
    padding: 10px;

}

p {
    font-size: 1.2em;
    color: black;
    margin: 10px;
    text-align: center;
}

/* ------- DÉBUT : page Accueil ------- */

.header-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    margin: 5px;
    padding: 2%;
}

.header-title-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: center;
}

.header-title-format{
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {    
    background-color: rgb(200, 126, 188);
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2em;
    width: 4em;
}

button:hover {
    background-color: rgb(147, 24, 118);
}


/* ------- FIN : page Accueil ------- */

/* ------- DÉBUT : page 404 ------- */

img {
    max-width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.page-err {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: stretch;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

.entete-404 {
    margin: 25px;
    padding: 10px;
    border-radius: 6px;
}

.photo-err img {
    width: 100%;
}
.message-404 {
    margin-bottom: 7%;
}

.message-404 h2 {
    text-decoration: none;
    text-align: center;
    background-color: rgba(255, 255, 255);
    border-radius: 6px;
    padding: 4px;
}

.message-404 a {
    color: rgb(147, 24, 118);
    text-decoration: none;
    background-color: rgba(255, 255, 255);
    border-radius: 6px;
    padding: 4px;
}

.message-404 a:hover {
    color: #000;
    background-color: rgb(200, 126, 188);
}

/* ------- FIN : page 404 ------- */

