<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Do you love me?</title>
    <meta name="Description" content="I just wanna make sure that you still love me">
    <meta name="Keywords" content="animal, chien, chat, mouton, escargot, lapin, serpent, kangourou, adoption, adopter">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <link rel="icon" href="">
</head>
<body>
<header>
    <div class="entete">
        <h1>Hi!</h1>
    </div>
</header>

<div class="container-fluid">

    {% block content %}{% endblock %}

</div>

<footer>
    By yours truly - 2024
</footer>
</body>
</html>